<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${server.user}</username>
            <password>${server.pass}</password>
            <id>central</id>
        </server>
        <server>
            <username>${server.user}</username>
            <password>${server.pass}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>${repository.release}</name>
                    <url>${server.host}/${repository.release}</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>${repository.snapshot}</name>
                    <url>${server.host}/${repository.snapshot}</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>${repository.release}</name>
                    <url>${server.host}/${repository.release}</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>${repository.snapshot}</name>
                    <url>${server.host}/${repository.snapshot}</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <settings.security>${settingsSecurity}</settings.security>
            </properties>
            <id>system</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
        <activeProfile>system</activeProfile>
    </activeProfiles>
</settings>